
*{
    font-family: system-ui;
}
.container{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores{
    display: flex;
    margin-block:10px
}
.score{
    margin-inline:10px;
    border: 1px solid black;
    padding: 2px 5px;
    border-radius:10px ;
}

.options{
    display: flex;
    flex-direction: column;
}

button{
    margin-block: 5px;
    width: 200px;
}

.nxt{
    width: 50px;
}